@{
    ViewData["Title"] = "Admin Page";
}
@model List<DestinationListItemVM>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div>
    <a class="btn" asp-action="Create" asp-controller="Destination"> Create</a>
    <table class ="table table-bordered" id="dataTable" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Image</th>
                <th>Rate</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(DestinationListItemVM item in Model)
               {
            <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Price</td>
                    <td><img width="250" src="/@item.Image"/></td>
                    <td>@item.Rate</td>
                    <td><a class= "btn" asp-action="Update" asp-controller="Destination" asp-route-id="@item.Id">Update</a></td>
                    <td><a class="btn" asp-action="Delete" asp-controller="Destination" asp-route-id="@item.Id">Delete</a></td>
            </tr>
               }
        </tbody>
        
    </table>
</div>
  